Replace custom point definitions by GeoJSON objects

According to the GeoJSON standard, all points (`[number, number]`) **shall** be given in WSG-84 and no other CRS are allowed, see [RFC7946, section 4](https://www.rfc-editor.org/rfc/rfc7946#section-4). To ensure interoperability and simplify design, custom point definitions should be replaced by GeoJSON alternative and GeoJSON objects should be considered reference within GrainPath software system.

https://github.com/GeoJSON-Net/GeoJSON.Text is a `.NET` library with `GeoJSON` definitions.